{{!
core: string;
value: number;
attributeValue: number;
break: boolean;
push: boolean;
}}
<div class="crypt-threat-core" data-core="{{this.core}}">
  {{> coreInput value=this.value name=(concat "data.core." this.core ".value") size="large"}}
  <div class="attr-input">{{> coreInput value=this.attributeValue size="small"}}</div>
  <div class="break-push">
    <div class="toggle" data-value="break">{{> toggleBox id=(concat "core-" this.core "-break") value=this.break placeholder="1"}}</div>
    <div class="toggle" data-value="push">{{> toggleBox id=(concat "core-" this.core "-push") value=this.push placeholder="10"}}</div>
  </div>
</div>