<div class="crypt-threat-equipment">
  {{#if data.data.weapons.length }}
    {{> weaponsTable }}
  {{/if}}
  {{#if data.data.outfits.length }}
    {{> outfitsTable }}
  {{/if}}
  {{#if data.data.consumables.length }}
    {{> consumablesTable }}
  {{/if}}
  {{#if data.data.equipment.length }}
    {{> equipmentTable }}
  {{/if}}
</div>
