.skill-check {
  .attribute {
    display: flex;
    justify-content: space-evenly;
  }
  .difficulty {
    display: flex;
  }
  .dice {
    list-style: none;
    display: flex;
  }
  .crypto-die {
    width: 32px;
    height: 32px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    &.attribute {
      &.result-1 {
        background-image: url("assets/img/d10-grey-1.png");
        &.botch {
          background-image: url("assets/img/d10-red-1.png");
        }
        &.hit {
          background-image: url("assets/img/d10-green-1.png");
        }
      }
      &.result-2 {
        background-image: url("assets/img/d10-grey-2.png");
      }
      &.result-3 {
        background-image: url("assets/img/d10-grey-3.png");
      }
      &.result-4 {
        background-image: url("assets/img/d10-grey-4.png");
        &.hit {
          background-image: url("assets/img/d10-green-4.png");
        }
      }
      &.result-5 {
        background-image: url("assets/img/d10-grey-5.png");
        &.hit {
          background-image: url("assets/img/d10-green-5.png");
        }
      }
      &.result-6 {
        background-image: url("assets/img/d10-grey-6.png");
        &.hit {
          background-image: url("assets/img/d10-green-6.png");
        }
      }
      &.result-7 {
        background-image: url("assets/img/d10-grey-7.png");
        &.hit {
          background-image: url("assets/img/d10-green-7.png");
        }
      }
      &.result-8 {
        background-image: url("assets/img/d10-green-8.png");
      }
      &.result-9 {
        background-image: url("assets/img/d10-green-9.png");
      }
      &.result-10 {
        background-image: url("assets/img/d10-green-10.png");
      }
    }
    &.fate {
      &.result-1 {
        background-image: url("assets/img/d6-grey-1.png");
        &.botch {
          background-image: url("assets/img/d6-red-1.png");
        }
        &.hit {
          background-image: url("assets/img/d6-green-1.png");
        }
      }
      &.result-2 {
        background-image: url("assets/img/d6-grey-2.png");
      }
      &.result-3 {
        background-image: url("assets/img/d6-grey-3.png");
      }
      &.result-4 {
        background-image: url("assets/img/d6-grey-4.png");
      }
      &.result-5 {
        background-image: url("assets/img/d6-grey-5.png");
      }
      &.result-6 {
        background-image: url("assets/img/d6-grey-6.png");
        &.hit {
          background-image: url("assets/img/d6-green-6.png");
        }
      }
    }
  }
}
