<form autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="actorData.health.value" class="resource-label"
            >Health Points</label
          >
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="actorData.healthPoints.value"
              value="{{actorData.healthPoints.value}}"
              data-dtype="Number"
            />
            <span> / </span>
            <input
              type="text"
              name="actorData.healthPoints.max"
              value="{{actorData.healthPoints.max}}"
              data-dtype="Number"
            />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="actorData.manaPoints.value" class="resource-label"
            >Mana Points</label
          >
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="actorData.manaPoints.value"
              value="{{actorData.manaPoints.value}}"
              data-dtype="Number"
            />
            <span> / </span>
            <input
              type="text"
              name="actorData.manaPoints.max"
              value="{{actorData.manaPoints.max}}"
              data-dtype="Number"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <div class="core">
        <h2>{{localize "CRYPTOMANCER.Core.speed"}}</h2>
        <input
          type="text"
          name="actorData.core.speed.value"
          value="{{actorData.core.speed.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.speed.attributes.agility.value"
          value="{{actorData.core.speed.attributes.agility.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.speed.attributes.dexterity.value"
          value="{{actorData.core.speed.attributes.dexterity.value}}"
          data-dtype="Number"
        />
        <div class="attributes">
          {{> "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.speed.attributes.agility}} {{>
          "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.speed.attributes.dexterity}}
        </div>
      </div>
      <div class="core">
        <h2>{{localize "CRYPTOMANCER.Core.power"}}</h2>
        <input
          type="text"
          name="actorData.core.power.value"
          value="{{actorData.core.power.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.power.attributes.strength.value"
          value="{{actorData.core.power.attributes.strength.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.power.attributes.endurance.value"
          value="{{actorData.core.power.attributes.endurance.value}}"
          data-dtype="Number"
        />
        <div class="attributes">
          {{> "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.power.attributes.strength}}
        </div>
      </div>
      <div class="core">
        <h2>{{localize "CRYPTOMANCER.Core.wits"}}</h2>
        <input
          type="text"
          name="actorData.core.wits.value"
          value="{{actorData.core.wits.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.wits.attributes.knowledge.value"
          value="{{actorData.core.wits.attributes.knowledge.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.wits.attributes.cunning.value"
          value="{{actorData.core.wits.attributes.cunning.value}}"
          data-dtype="Number"
        />
        <div class="attributes">
          {{> "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.wits.attributes.knowledge}} {{>
          "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.wits.attributes.cunning}}
        </div>
      </div>
      <div class="core">
        <h2>{{localize "CRYPTOMANCER.Core.resolve"}}</h2>
        <input
          type="text"
          name="actorData.core.resolve.value"
          value="{{actorData.core.resolve.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.resolve.attributes.presence.value"
          value="{{actorData.core.resolve.attributes.presence.value}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="actorData.core.resolve.attributes.willpower.value"
          value="{{actorData.core.resolve.attributes.willpower.value}}"
          data-dtype="Number"
        />
        <div class="attributes">
          {{> "systems/cryptomancer/templates/actor/parts/actor-attribute.html"
          attr=actorData.core.resolve.attributes.presence}}
        </div>
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <!-- {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData
      button=true owner=owner editable=editable}} -->
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <!-- {{> "systems/cryptomancer/templates/actor/parts/actor-items.html"}} -->
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      <!-- {{> "systems/cryptomancer/templates/actor/parts/actor-spells.html"}} -->
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      <!-- {{> "systems/cryptomancer/templates/actor/parts/actor-effects.html"}} -->
    </div>
  </section>
</form>
