.crypt-text-input {
  display: flex;
  align-items: center;
  gap: 8px;
  :not(:focus-within) {
    cursor: pointer;
  }
  label {
    flex-shrink: 0;
  }
  input {
    display: block;
    flex-grow: 1;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    &:focus-within {
      background-color: unset;
      border-bottom: 1px solid var(--color-border-dark-primary);
    }
  }
}
