@import "./components/core-triad.component";
@import "./components/defense.component";
@import "./components/resource-skill.component";
@import "./components/skill-list.component.scss";

.crypt-actor-sheet {
  header {
    display: flex;
    .basic-bio {
      flex-grow: 1;
      padding: 8px;
    }
    .defenses {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .cores {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .core {
      .skills {
        display: flex;
      }
    }
  }
}
