@import "./components/core-triad";
@import "./components/defense";
@import "./components/resource-skill";
@import "./components/skill-list";
@import "./components/feature-list";
@import "./components/bio";
@import "./components/gear";
@import "./components/safehouse-room";
@import "./components/cell";

.crypt-actor-sheet {
  &.character {
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      gap: 8px;
      .bio {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .name {
          font-family: var(--font-accent);
          display: flex;
          gap: 8px;
          line-height: 0.9rem;
          label {
            min-width: 60px;
            &::after,
            input {
              height: 40px;
              font-size: 1.8rem;
            }
            .label {
              text-transform: uppercase;
            }
          }
        }
        .pronouns-party {
          font-family: var(--font-accent);
          display: flex;
          gap: 8px;
          line-height: 0.9rem;
          label {
            min-width: 60px;
            &::after,
            input {
              font-size: 1rem;
            }
          }
          .upgrade-points {
            display: flex;
            align-items: center;
            gap: 8px;
            input {
              display: block;
              text-align: center;
              width: 60px;
              height: 40px;
              font-size: 24px;
            }
          }
        }
      }
      .defenses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .difficulty-selector {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 4px;

          .difficulty {
            display: flex;
            gap: 4px;
          }
        }
      }
    }
    .sheet-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .tab[data-tab].active {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }
    .sheet-cores {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .sheet-core {
        width: 300px;
        margin-bottom: 8px;
        .sheet-skills {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  &.party {
    .sheet-body {
      .tab.party {
        .party-wrapper {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 16px;
          h2 {
            font-family: var(--font-accent);
            font-size: 1.8em;
            border: none;
            margin: 0;
          }

          .party-resources {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            align-items: center;
            .resource-label {
              font-family: var(--font-accent);
              font-size: 1.8em;
              padding-right: 4px;
              text-align: right;
            }
          }
          .party-risk-events {
            display: grid;
            gap: 8px;
            .risk-event {
              display: flex;
              align-items: center;
              gap: 4px;
              input {
                font-size: 1.3em;
                background-color: var(--neutral--light-2);
                border-radius: 0px;
              }
            }
          }
          .party-cells {
            grid-column: span 2;
            display: grid;
            gap: 16px;
          }
        }
      }
    }
    .tab.safehouse {
      .safehouse-rooms {
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        grid-auto-flow: dense;
        justify-content: space-around;
        gap: 16px;
        .crypt-safehouse-room {
          &.stable {
            grid-row: span 2;
          }
        }
      }
    }
  }
}
