.actor-sheet {
  header {
    display: flex;
    .basic-bio {
      flex-grow: 1;
    }
  }
  .cores {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .core {
      .skills {
        display: flex;
      }
    }
  }
}
