@import "./components/basic-info";
@import "./components/defenses";
@import "./components/mini-triad";
@import "./components/defense";
@import "./components/skill-list";
@import "./components/item-table";
@import "./components/bio";
@import "./components/equipment";
@import "./components/safehouse-room";
@import "./components/cell";
@import "./components/skill.scss";

.crypt-actor-sheet {
  &.character {
    // Overrides base form application 8px padding
    margin: -8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
      display: grid;
      grid-template-columns: 180px 1fr;
      box-sizing: content-box;
      padding: 8px;
      gap: 10px;
      min-height: 232px;
      .avatar {
        display: grid;
        grid-template-rows: 1fr auto auto;
        gap: 2px;
        img {
          width: 100%;
          max-height: 180px;
        }
      }
      .bio-defense {
        display: flex;
        gap: 10px;
      }
    }
    .sheet-body {
      padding: 8px;
      flex-grow: 1;
      .tab {
        height: 100%;
      }
      .tab.core.active {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        .cores {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .skills {
          display: flex;
          flex-direction: column;
          .skills-label {
            margin: 0;
            font-family: var(--font-accent);
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          .skill-lists {
            flex-grow: 1;
            width: 100%;
            display: flex;
            gap: 8px;
          }
        }
      }
      .tab.features.active {
        display: flex;
        flex-direction: column;
        section {
          &.feature-list {
            flex-grow: 1;
          }
          &.party-upgrade-points {
            display: flex;
            align-items: center;
            gap: 8px;
            .party-action-button {
              width: auto;
              padding: 0px 4px;
              margin: 0;
              background-color: transparent;
              border: none;
              color: var(--primary--dark-2);

              &:hover,
              &:focus {
                color: var(--primary);
                box-shadow: none;
              }

              span {
                pointer-events: none;
              }
            }
            .upgrade-points {
              display: flex;
              gap: 8px;
              align-items: center;

              label {
                text-transform: uppercase;
                font-weight: bold;
                font-family: inherit;
                cursor: pointer;
              }
            }
          }
        }
      }
      .tab.equipment.active {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &.party {
    // Overrides base form application 8px padding
    margin: -8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .sheet-body {
      padding: 8px;
      .tab.party.active {
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 16px;
        section.left {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        section.main {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h3 {
            font-size: 1.3rem;
            font-family: var(--font-accent);
          }
        }
        .avatar {
          img {
            max-height: 180px;
          }
        }
        .party-name {
          input {
            font-size: 1.3rem;
            font-family: var(--font-accent);
          }
        }
        .party-resource {
          display: flex;
          justify-content: space-between;
          align-items: center;
          label {
            font-size: 1.3rem;
            font-family: var(--font-accent);
          }
        }
        .risk-event {
          display: grid;
          grid-template-columns: auto 1fr auto;
          align-items: center;
          gap: 8px;
          button.risk-event-delete {
            background-color: transparent;
            border: 0;
            padding: 0;
            padding-right: 2px;
            margin: 0;
            box-shadow: none;
            color: var(--primary--dark-2);
            &:hover,
            &:focus {
              box-shadow: none;
              color: var(--primary);
            }
          }
        }
      }
      .tab.safehouse.active {
        .safehouse-rooms {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-auto-flow: dense;
          gap: 16px;
          .stable {
            grid-row: span 2;
          }
        }
      }
    }
  }
}
