.crypto-toggle-box {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid var(--primary--dark-3);
    color: var(--color-text-dark-inactive);
    font-size: 12px;
    cursor: pointer;
  }
  input:checked ~ label {
    background-color: var(--primary--dark-3);
  }
}
