<div class="attribute">
  <h3>{{attr.label}}</h3>
  {{#each attr.skills as |skill skillKey|}}
  <div class="skill">
    <span
      class="skill-name rollable"
      data-roll-core="{{../attr.core}}"
      data-roll-attribute="{{skill.attribute}}"
      data-roll-skill="{{skillKey}}"
    >
      {{skill.label}}
    </span>
    <span>{{skill.break}}</span>
    <span>{{skill.push}}</span>
    <span class="skill-break">
      <input
        type="checkbox"
        name="data.core.{{../attr.core}}.attributes.{{skill.attribute}}.skills.{{skillKey}}.break"
        value="{{skill.break}}"
        data-dtype="Boolean"
        {{checked
        skill.break}}
      />
    </span>
    <span class="skill-push">
      <input
        type="checkbox"
        name="data.core.{{../attr.core}}.attributes.{{skill.attribute}}.skills.{{skillKey}}.push"
        value="{{skill.push}}"
        data-dtype="Boolean"
        {{checked
        skill.push}}
      />
    </span>
  </div>
  {{/each}}
</div>
