.crypt-threat-sheet {
  .tab.core {
    position: relative;
    .skills-label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .link-toggle {
      border: none;
      background: transparent;
      width: auto;
      &.linked {
        color: var(--success);
      }
    }
  }
  .tab.notes {
    &.active {
      display: flex;
      flex-direction: column;
    }
    .notes-title {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: var(--font-accent);
    }
    .editor {
      flex-grow: 1;
    }
  }
}
