.crypt-threat-sheet {
  .tab.core {
    position: relative;
    .skills-label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .link-toggle {
      border: none;
      background: transparent;
      width: auto;
      &.linked {
        color: var(--success);
      }
    }
  }
}
