.crypt-item-card {
  padding-top: 4px;
  summary {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4px;

    h3 {
      margin: 0;
      font-family: var(--font-accent);
    }
  }

  .rules {
    margin-top: 4px;
  }
}
