.crypt-bio {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  .bio-section {
    display: grid;
    gap: 8px;
    .section-label {
      font-family: var(--font-accent);
      font-size: 1.3rem;
    }

    .crypt-form-field {
      label {
        white-space: nowrap;
      }
    }

    &.background {
      grid-column: span 2;
      grid-template-rows: auto 1fr;

      .editor {
        height: 100%;
        min-height: 170px;
      }
    }
  }
}
