.crypt-item-sheet {
  &__trademark-item,
  &__talent,
  &__spell {
    display: flex;
    flex-direction: column;

    .item-info-wrapper {
      display: flex;
      gap: 4px;

      .avatar {
        height: 90px;
        img {
          height: 100%;
        }
      }

      .item-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 4px;
        &-inner {
          display: flex;
          justify-content: space-between;
        }
      }

      .name,
      .cost {
        font-family: var(--font-accent);
        line-height: 0.9rem;
        label {
          min-width: 60px;
          &::after,
          input {
            height: 40px;
            font-size: 1.8rem;
          }
        }
      }
    }

    .sheet-body {
      flex-grow: 1;
      .tab,
      .editor {
        height: 100%;
      }
    }
  }

  &__talent {
    .item-info-wrapper {
      .tiers {
        height: 36px;
        display: flex;
        gap: 4px;
        align-items: center;
        .tiered-toggle {
          display: flex;
          align-items: center;
          gap: 4px;
        }
        .tier-count {
          width: 20px;
          text-align: center;
        }
      }
    }
  }

  &__spell {
    .spell-type {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      gap: 4px;
    }
  }

  &__trademark-item {
    .item-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .item-rules,
    .item-qualities {
      display: flex;
      gap: 4px;
      align-items: center;
      margin: 4px 0px;
      padding-bottom: 2px;

      label {
        font-family: var(--font-accent);
        color: var(--color-text-dark-inactive);
      }
      input {
        color: var(--primary);
        width: 100%;
      }
    }
  }
}
