.crypt-item-sheet {
  &__equipment,
  &__talent,
  &__spell {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 120px 1fr;
    gap: 16px;

    section.avatar {
      img {
        display: block;
        height: 100%;
        max-width: 120px;
      }
    }

    section.item-info {
      .crypt-form-field {
        input,
        select {
          font-size: 1.3rem;
          font-family: var(--font-accent);
        }
      }
    }

    section.config {
      .toggle-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.1rem;
        border-bottom: 1px solid var(--neutral--light-2);
        gap: 0.3rem;
        min-height: 43px;

        .toggle-label {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

    .sheet-body {
      display: flex;
      flex-direction: column;
      .description-label {
        padding: 0.5rem 0.1rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
      }
      .editor {
        flex-grow: 1;
      }
    }
  }

  &__equipment {
    .chip-list {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .chip-action-button {
        background-color: transparent;
        color: var(--neutral);
        display: none;
        padding: 0;
        margin: 0;
        border: 0;
        line-height: 1;
        font-size: 0.7rem;
        justify-content: center;
        align-items: center;
      }

      .crypt-chip {
        white-space: nowrap;
        &:hover .chip-action-button {
          display: inline-flex;
        }
      }
    }
  }
}
