.crypt-item-sheet {
  &__talent,
  &__spell {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 120px 1fr;
    gap: 16px;
  }

  &__equipment,
  &__talent,
  &__spell {
    section.avatar {
      img {
        display: block;
        height: 100%;
        max-width: 120px;
      }
    }

    section.item-info {
      .crypt-form-field {
        input,
        select {
          font-size: 1.3rem;
          font-family: var(--font-accent);
        }
      }
    }

    section.config {
      .toggle-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.1rem;
        border-bottom: 1px solid var(--neutral--light-2);
        gap: 0.3rem;
        min-height: 43px;

        .toggle-label {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

    .sheet-body {
      display: flex;
      flex-direction: column;
      .description-label {
        padding: 0.5rem 0.1rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
      }
      .editor {
        flex-grow: 1;
      }
    }
  }

  &__equipment {
    header,
    .tab.description.active {
      display: grid;
      grid-template-columns: 120px 1fr;
      gap: 16px;
    }
    .crypt-tabs {
      margin: 16px 0;
    }
    .tab.description.active {
      section.config {
        .status-list {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .crypt-chip {
            text-align: center;
          }
        }
        .rules-list {
          display: flex;
          flex-direction: column;
          gap: 4px;
          span.title {
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.5rem 0.1rem;
          }
          .rule-chip {
            text-align: center;
            &[data-compendium][data-journal] {
              cursor: pointer;
              &:hover {
                text-shadow: 0 0 8px var(--primary);
              }
            }
          }
        }
      }

      .chip-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .chip-action-button {
          background-color: transparent;
          color: var(--neutral);
          display: none;
          padding: 0;
          margin: 0;
          border: 0;
          line-height: 1;
          font-size: 0.7rem;
          justify-content: center;
          align-items: center;
        }

        .crypt-chip {
          white-space: nowrap;
          &:hover .chip-action-button {
            display: inline-flex;
          }
        }
      }
    }
    .tab.details.active {
      section.rules,
      section.status {
        h3 {
          padding: 0.5rem 0.1rem;
          text-transform: uppercase;
          font-size: 1rem;
          margin: 0;
          font-family: var(--font-accent);
        }
        .rules-list,
        .status-list {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 6px;
          align-items: center;
          text-align: center;
          .crypt-chip:hover {
            cursor: pointer;
            text-shadow: 0 0 8px var(--primary);
          }
        }
        .rule-values {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;
        }
      }
    }
  }
}
