/*
Auto-grow/auto-shrink inputs
from: https://codepen.io/shshaw/pen/bGNJJBE
Example:
  <label class="input-sizer" data-value="{{value}}">
    <span>DOB: </span>
    <input type="text" onInput="this.parentNode.dataset.value = this.value" size="1" placeholder="5">
  </label>
*/
.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;

  &.stacked {
    align-items: stretch;
    span {
      color: var(--color-text-dark-inactive);
      font-size: 10px;
      grid-area: 2 / 1;
    }

    &::after,
    input,
    textarea {
      grid-area: 1 / 1;
    }
  }

  &::after,
  input,
  textarea {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    padding: 0;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0px;
  }

  &::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }

  &:focus-within {
    textarea:focus,
    input:focus {
      box-shadow: 0 0 5px var(--color-shadow-primary);
      border-color: var(--color-border-dark-primary);
      outline: none;
    }
  }
}

/* Just a shortcut for flex-grow. */
.flex-spacer {
  flex-grow: 1;
}
