.crypt-skill-list {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  flex-grow: 1;
  &:first-of-type {
    .crypt-skill {
      &:nth-child(even) {
        background-color: var(--neutral--light-3);
      }
    }
  }
  &:last-of-type {
    .crypt-skill {
      &:nth-child(odd) {
        background-color: var(--neutral--light-3);
      }
    }
  }
}
