<!--
  @Input core: Core;
  @Input attrL: Attribute;
  @Input attrR: Attribute;
-->
<div class="crypt-core-triad">
  <div class="label core">{{ core.label }}</div>
  <div class="triad-wrapper">
    <div class="triangle">
      <svg viewbox="0 0 210 80">
        <polygon points="105,25 190,60 20,60 105,25" class="triangle" />
      </svg>
    </div>
    <div class="core-container core">
      {{> "systems/cryptomancer/shared/components/core-input/core-input.html"
      size="large" name=(concat "data.core." core.key ".value") value=core.value
      }}
    </div>
    <div class="core-container attribute left">
      {{> "systems/cryptomancer/shared/components/core-input/core-input.html"
      size="small" name=(concat "data.core." core.key ".attributes." attrL.key
      ".value") value=attrL.value }}
      <div
        class="label attribute left rollable"
        data-roll-core="{{ attrL.core }}"
        data-roll-attribute="{{ attrL.key }}"
      >
        {{ attrL.label }}
      </div>
    </div>
    <div class="core-container attribute right">
      {{> "systems/cryptomancer/shared/components/core-input/core-input.html"
      size="small" name=(concat "data.core." core.key ".attributes." attrR.key
      ".value") value=attrR.value }}
      <div
        class="label attribute right rollable"
        data-roll-core="{{ attrR.core }}"
        data-roll-attribute="{{ attrR.key }}"
      >
        {{ attrR.label }}
      </div>
    </div>
  </div>
</div>
