.crypt-core-triad {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;

  .label {
    font-family: var(--font-accent);
    &.core {
      position: absolute;
      left: 0px;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &.attribute {
      position: relative;
      bottom: 0px;
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 8px var(--color-shadow-primary);
      }
      &.left {
        left: 0px;
      }
      &.right {
        right: 0px;
      }
    }
  }

  .triad-wrapper {
    width: 265px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    right: 12px;
    .triangle {
      width: 210px;
      position: absolute;
      top: 0px;
      polygon {
        stroke: var(--color-border-dark);
        stroke-width: 1;
        fill: transparent;
      }
    }

    .core-container {
      position: absolute;

      &.attribute {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.left {
          bottom: 5px;
          left: 20px;
        }
        &.right {
          bottom: 5px;
          right: 20px;
        }
      }
    }
  }
}
