<div class="crypt-defenses">
  <div class="defense">{{> defense label="Dodge" value=data.data.core.speed.value desc="vs melee/missile" }}</div>
  <div class="defense">{{> defense label="Parry" value=data.data.core.power.value desc="vs melee" }}</div>
  <div class="defense">{{> defense label="Take Cover" value=data.data.core.wits.value desc="vs missile" }}</div>
  <div class="defense">{{> defense label="Resist" value=data.data.core.resolve.value desc="vs magic" }}</div>
  <div class="wounds">
    <span class="label">{{localize "CRYPTOMANCER.Wound.wounds"}}</span>
    <div class="flex-spacer"></div>
    <span class="difficulty">{{> toggleBox id="wound-critical" tooltip=(localize "CRYPTOMANCER.Wound.critical") value=data.data.healthPoints.criticalWound name="data.healthPoints.criticalWound" color="secondary"}}</span>
    <span class="difficulty">{{> toggleBox id="wound-mortal" tooltip=(localize "CRYPTOMANCER.Wound.mortal") value=data.data.healthPoints.mortalWound name="data.healthPoints.mortalWound" color="danger"}}</span>
  </div>
</div>
