<!--
  @Input label: string;
  @Input value: string;
  @Input desc: string;
-->
<div class="crypt-defense">
  <div class="label">{{ label }}</div>
  {{> coreInput value=value readonly=true size="small" }}
  <div class="desc">{{ desc }}</div>
</div>
