.crypt-gear {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .gear-section {
    .section-label {
      font-family: var(--font-accent);
      font-size: 1.3rem;
    }

    .trademark-items {
      &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
    }

    .trademark-item {
      position: relative;
      border: 1px solid var(--primary);
      box-shadow: 0 0 4px var(--primary);
      padding: 4px;

      &__name {
        margin: 0;
        font-family: var(--font-accent);
        font-size: 1.1rem;
      }

      &__label,
      &__qualities .label,
      &__rules .label {
        font-family: var(--font-accent);
        color: var(--color-text-dark-inactive);
        font-size: 10px;
      }

      &__avatar {
        position: absolute;
        top: 4px;
        right: 4px;
        height: 40px;
        width: 40px;
        img {
          height: 100%;
          border: none;
        }
      }

      &__actions {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        right: 4px;
        display: flex;
        gap: 4px;
      }

      &:hover,
      &:focus-within {
        .trademark-item__actions {
          opacity: 1;
        }
      }

      &__action-button {
        width: auto;
        padding: 0px 4px;
        margin: 0;
        background-color: transparent;
        border: none;
        color: var(--primary--dark-2);

        // Have to do this hack because font awesome is super inconsistent with aspect ratios...
        &.delete {
          padding-left: 2px;
        }

        &:hover,
        &:focus {
          color: var(--primary);
          box-shadow: none;
        }

        span {
          pointer-events: none;
        }
      }
    }

    &.other {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .editor {
        flex-grow: 1;
      }
    }
  }
}
