.crypt-resource-skill {
  width: 147px;

  .toggles {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 2px 4px;
    margin-top: 4px;
  }

  .resource {
    display: flex;
    flex-direction: column;

    .label {
      text-align: center;
      margin-bottom: 4px;
    }

    .inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      input {
        display: block;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 24px;
      }
    }
  }
}
