.crypt-safehouse-room {
  padding: 8px;
  border: 1px solid var(--primary--dark-3);
  background-color: var(--neutral--light-1);

  .room {
    &__header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 8px;
      align-items: center;

      h3 {
        margin: 0;
        font-size: 1.8em;
        font-family: var(--font-accent);
      }
    }
    &__input,
    &__mounts {
      textarea,
      input[type="text"] {
        padding: 4px;
        font-family: var(--font-primary);
        width: 100%;
        color: var(--primary);
        background-color: var(--neutral--light-2);
        border: 1px solid var(--primary);
        border-radius: 0px;
        font-size: 18px;
      }
    }
  }
}
