.crypt-skill-list {
  min-width: 150px;
  .skill {
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    background-color: var(--neutral--light-4);
    &:nth-child(even) {
      background-color: var(--neutral);
    }
  }

  .skill-name {
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 8px var(--color-shadow-primary);
    }
  }

  .toggles {
    display: flex;
    gap: 4px;
    margin-left: 4px;
  }
}
