/* Color Overrides */
:root {
  --color-shadow-primary: #00eeff;
  --color-shadow-highlight: #00ffe1;
  --color-border-highlight-alt: #00eeff;
  --color-border-highlight: #00ffe1;
  --color-bg-light: #ffffff;
  --color-bg-stripe: #ececec;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // This works around a Chrome bug that can cause the tab to crash when large amounts of
  // non-English text get wrapped: https://bugs.chromium.org/p/chromium/issues/detail?id=1201444
  white-space: nowrap;

  // Avoid browsers rendering the focus ring in some cases.
  outline: 0;

  // Avoid some cases where the browser will still render the native controls (see #9049).
  -webkit-appearance: none;
  -moz-appearance: none;
}

@import "skill-check/skill-check.component";

/* Styles limited to cryptomancer sheets */
.cryptomancer {
  @import "actor-sheet/actor-sheet.component";
  @import "actor-sheet/components/core-triad.component";
  @import "actor-sheet/components/skill-list.component";
  @import "shared/components/text-input/text-input.component";
  @import "shared/components/core-input/core-input.component";
  @import "shared/components/toggle-box/toggle-box.component";
}
